@media (prefers-color-scheme: light) {
    :root {
        --main-bkg: #ffffff;
        --main-text: #000000;
        --article-box: rgb(243, 243, 235);
        --main-icon-bkg: #000000;
        --main-shadow: #00000075;
        --tag-color: #cfcfcf;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bkg: #2e2e2e;
        --main-text: #ffffff;
        --article-box: rgb(82, 82, 82);
        --main-icon-bkg: #ffffff;
        --main-shadow: #dedede34;
        --tag-color: #424242;
    }
}

body {
    transition-duration: 0.4s;
    background-color: var(--main-bkg);
    color: var(--main-text);
    overflow-x: hidden;
}

.out-container {
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    max-width: 600px;
    min-width: 200px;
}

.title {
    font-size: 35px;
    font-weight: bolder;
}

.subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.image-container {
    width: 80px;
    height: 100px;
    overflow: hidden;
    border-radius: 20px;
}

.top-img {
    width: 100%;
    object-fit: cover;
    transform: translateY(-5px);
}

.top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.namebar {
    margin-left: 30px;
}

.tagbar {
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    cursor: default;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid var(--main-text);
    border-radius: 20px;
    transition-duration: 0.4s;
}

.tag:hover {
    background-color: var(--tag-color);
    transform: scale(0.95);
}

.introduction-container {
    width: 100%;
}

.introduction {
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.bottom-anim {
    background: linear-gradient(to right, var(--main-text), var(--main-text)) no-repeat bottom;
    background-size: 0 2px;
    transition-duration: 0.4s;
}

.bottom-anim:hover {
    background-size: 100% 2px;
}

.introduction-zh {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.intro-content {
    font-family: "Times New Roman", Times, serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.self-intro {
    font-size: 20px;
}

.article-info-container {
    margin-top: 20px;
    cursor: pointer;
    width: 90%;
    height: auto;
    padding: 5%;
    border-radius: 20px;
    background-color: var(--article-box);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition-duration: .2s;
}

.article-info-container:hover {
    transform: scale(1.05);
    box-shadow: var(--main-shadow) 0px 7px 29px 0px;
}

.article-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-title {
    font-weight: bold;
    font-size: 20px;
}

.article-author {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.staticbtns {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.img-path {
    fill: var(--main-icon-bkg);
}

a {
    text-decoration: none;
    color: var(--main-text);
}

.icon-noti {
    color: var(--main-text);
    pointer-events: none;
    position: absolute;
    right: 120%;
    text-wrap: nowrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transform: translateX(50px) translateY(2px);
    transition-duration: 0.5s;
    opacity: 0;
}

.icon-svg {
    transition-duration: 0.5s;
}

.icon-svg:hover {
    transform: rotate(180deg) scale(1.2);
}

.icon-container:hover .icon-noti {
    transform: translateX(0px) translateY(2px);
    opacity: 1;
}

.strong {
    font-weight: bolder;
}

.article-info-left {
    width: 30%;
    padding-right: 20px;
    box-sizing: border-box;
    pointer-events: none;
}

.article-info-right {
    width: 70%;
    pointer-events: none;
}

.article-info-container {
    display: flex;
}

.left-img {
    width: 100%;
    object-fit: contain;
}

.float-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 40px;
    max-width: 90%;
    min-width: 70%;
    height: auto;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color: var(--main-bkg);
    border: 2px solid var(--article-box);
    box-shadow: var(--main-shadow) 0px 7px 29px 0px;
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.close-btn:hover {
    transform: rotate(90deg);
}

.float-title {
    font-weight: bold;
    font-size: 20px;
}

.float-open {
    background-color: var(--main-icon-bkg);
    padding: 10px;
    color: var(--main-bkg);
    transition-duration: 0.2s;
    border-radius: 20px;
}

.float-open:hover {
    background-color: var(--tag-color);
    color: var(--main-icon-bkg);
}

.float-img {
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 80%;
    overflow: hidden;
}

.f-img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.f-abstract {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: lighter;
    max-height: 200px;
    overflow: auto;
}

.hidden-abs {
    display: none;
}