/* MAIN CSS */
body {
    background-image: url('https://bing.img.run/1366x768.php');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgb(40, 41, 44);
    min-height: 100vh;
}

@keyframes hoverAnim {
    0% {
        color: #e2a963;
    }
    50% {
        color: #bd8d53;
    }
    100% {
        color: #e2a963;
    }
}

.primaryText {
    color: #e2a963;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition-duration: .5s;
}

.primaryText:hover {
    animation: hoverAnim 0.75s infinite;
}

.urlLink {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 5px;
    border-radius: 5px;
    transition-duration: .2s;
    color: inherit;
    text-decoration: none;
}

.urlLink:hover {
    background-color: rgba(255, 255, 255, 0.15);
}